.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  background-color: #9A1220;
}

.navbar img {
  height: 100px;
  width: 100px;
  margin-left: 50px;
}

.navbar .ims-header {
  color: white;
  font-size: 30px;
  font-weight: bold;
  display: inline-block;
  margin: auto;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.admw-container {
  padding: 20px 20px 0 20px; /* Reducing the top padding if needed */
  min-height: calc(100vh - 120px);
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.admw-list {
  margin-top: 10px; /* Reduced from 20px or more to 10px */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  flex-grow: 1;
}



.admwdocument-item {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 40%;
  padding: 15px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 10px;
}

.announcement-item h2 {
  margin-top: 0;
  color: #333;
}

.announcement-item p {
  color: #666;
}

.announcement-image {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}

.no-announcements {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #666;
  font-size: 18px;
  font-weight: bold;
}
