.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.announcements-container {
  max-width: 30%; /* Limit max width to 80% of the screen width */
  margin: auto; /* Center the container horizontally */
  padding: 20px;
}
.file-upload-label {
  margin-top: 20px;
  cursor: pointer;
  background-color: #4CAF50; /* Green background */
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
}

.file-upload-input {
  display: none; /* Input elemanı gizleniyor */
}

.addocument-list {
  display: flex;
  flex-direction: column; /* Ensures items are stacked vertically */
  align-items: center; /* Centers items horizontally */
  margin-top: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  padding: 15px;
  width: 100%; /* Adjust width as necessary */
}

.addocument-item {
  display: flex;
  flex-direction: column; /* Stack content within each item vertically */
  align-items: center; /* Center content within each item */
  justify-content: space-between;
  width: 100%; /* Full width */
  padding: 10px;
  border-bottom: 1px solid #ddd;
  margin: 5px 0;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.addocument-item:last-child {
  border-bottom: none; /* Remove border for the last item */
}
.buttons-container {
  display: flex;
  gap: 10px; /* Space between buttons */
}
.approve-button, .decline-button {
  flex: 1; /* Buttons take equal space */
  padding: 5px 10px; /* Padding for better touch */
}

.document-link {
  font-size: 16px;
  text-decoration: none;
  color: #007bff;
  margin-right: 20px;
  max-width: 80%; /* Prevents text from taking full width */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; /* Adds ellipsis if text is too long */
}

.document-link:hover {
  text-decoration: underline;
}


.delete-button {
background-color: #ff6347;
color: white;
position: absolute; /* Position absolutely within the document-item */
right: 10px; /* Distance from the right edge of document-item */
top: 50%; /* Center vertically */
transform: translateY(-50%); /* Center vertically */
width: 80px; /* Fixed width */
height: 30px; /* Fixed height */
}


.delete-button:hover {
  background-color: #e53e30; /* Darker red on hover */
}


.file-upload-label {
  display: block;
  background-color: #4CAF50; /* Green background */
  color: white;
  text-align: center;
  padding: 12px 20px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 5px;
}

.file-upload-input {
  display: none; /* Hide the default file input */
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #8B0000;
  padding: 10px 20px;
  color: white;
}

.logo {
  height: 50px;
}

.ims-header {
  font-size: 24px;
  font-weight: bold;
}

.logout-button {
  background-color: #8B0000;
  color: white;
  border: none;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
}