/* InternshipCoordinatorDocumentsPage.css */

.content {
    display: flex;
    flex-direction: column; /* Bu özellik ile içerik ters çevriliyor */
    align-items: center;
    padding: 20px;
  }
  
  .file-upload-label {
    margin-top: 20px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
  }
  
  .file-upload-input {
    display: none; /* Input elemanı gizleniyor */
  }
  .document-list {
    margin-top: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1); /* Subtle shadow for each document list */
    padding: 15px;
}

.document-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd; /* Separator between documents */
}

.document-item:last-child {
    border-bottom: none; /* Remove border for the last item */
}

span {
    font-size: 16px;
}

.delete-button {
    background-color: #ff6347; /* Tomato red color for delete button */
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.delete-button:hover {
    background-color: #e53e30; /* Darker red on hover */
}

.file-upload-label {
    display: block;
    background-color: #4CAF50; /* Green background */
    color: white;
    text-align: center;
    padding: 12px 20px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
}

.file-upload-input {
    display: none; /* Hide the default file input */
}