.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.file-upload-label {
  margin-top: 20px;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
}

.file-upload-input {
  display: none;
}

.announcements-container-internshipcoordinator {
  padding: 20px 20px 0 20px; /* Reducing the top padding if needed */
  min-height: calc(100vh - 120px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.announcements-list-internshipcoordinator {
  margin-top: 10px; /* Reduced from 20px or more to 10px */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  flex-grow: 1;
}

.document-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  padding-right: 100px;
  border-bottom: 1px solid #ddd;
  position: relative;
}

.document-item:last-child {
  border-bottom: none;
}

.document-link {
  font-size: 16px;
  color: #007bff;
  margin-right: 20px;
  max-width: 60%;
}

.document-link:hover {
  text-decoration: underline;
}

.delete-button {
background-color: #ff6347;
color: white;
position: absolute;
right: 10px;
top: 50%;
transform: translateY(-50%);
width: 80px;
height: 30px;
}

.delete-button:hover {
  background-color: #e53e30;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #8B0000;
  padding: 10px 20px;
  color: white;
}

.logo {
  height: 50px;
}

.ims-header {
  font-size: 24px;
  font-weight: bold;
}

.logout-button {
  background-color: #8B0000;
  color: white;
  border: none;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
}

  