/* InternshipCoordinatorDocumentsPage.css */

.content {
    display: flex;
    flex-direction: column; /* Bu özellik ile içerik ters çevriliyor */
    align-items: center;
    padding: 20px;
  }
  
  .file-upload-label {
    margin-top: 20px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
  }
  
  .file-upload-input {
    display: none; /* Input elemanı gizleniyor */
  }
  
  .document-list {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Elemanları merkezde hizalar */
  }
  
  .document-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc; /* Optional: adds a light line between items */
    margin: 5px 0;
  }
  
  .delete-button {
    background: #f44336; /* Red background for the button */
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9rem;
  }
  
  .file-upload-label {
    display: block;
    background: rgb(19, 90, 232); /* Green background for the upload label */
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .file-upload-input {
    display: none; /* Hide the default input */
  }
  