.login-button{
  background-color: #9A1220;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  background-color: #9A1220;
}

.navbar img {
  height: 100px;
  width: 100px;
  margin-left: 50px;
}

.navbar .ims-header {
  color: white;
  font-size: 30px;
  font-weight: bold;
  display: inline-block;
  margin: auto;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;

}

.login-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 120px);
  
  background-color: rgba(195, 191, 191, 0.5); /* Arka plan şeffaflığı */
  
   
  background-image: url('../assets/iyte2.jpg');
  background-size:cover;
  background-position: center;
  
}

form {
  backdrop-filter: blur(10px); /* Arka plan bulanıklığı */
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Inputlar ve label'lar sol tarafa hizalanır */
  background-color: #ffffff10;
  backdrop-filter: blur(15px);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
  width: 250px;
  

  
  
}

.input-group {
  margin-bottom: 20px;
  width: 90%; /* Her bir input grubunun genişliği form genişliği ile aynı olur */
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  padding: 8px;
  width: 100%; /* Input genişliği parent'ına göre ayarlanır */
}



button {
  padding: 10px;
  width: 90%; /* Buton genişliği form genişliği ile aynı olur */
  cursor: pointer;
  color: white;
  border: none;
  border-radius: 5px;
  margin: auto;
}




button:hover {
  background-color: rgb(1, 155, 1);
}

.signup-button {
  width: 75px;
  text-align: center;
  padding: 10px;
  border: none;
  background-color: rgb(125, 34, 34);
  color: white;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px; /* Butonu 10px sola kaydır */
}


.signup-button:hover {
  background-color: green;
}

.error-message, .success-message {
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  text-align: center;
}

.error-message {
  color: #ff0000;
  background-color: #fff3f3;
  border: 1px solid #ff0000;
}

.success-message {
  color: #004d00;
  background-color: #e6ffe6;
  border: 1px solid #004d00;
}