.logout-button {
    width: 75px;
    text-align: center;
    padding: 10px;
    border: none;
    background-color: rgb(125, 34, 34);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.logout-button:hover {
    background-color: rgb(115, 114, 114);
}

.outside-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap;
    margin-top: 100px;
}

.big-div {
    flex: 1;
    margin: 10px;
    padding: 20px;
    height: 150px;
    width: 150px;
    text-decoration: none;
    background-color: #f4f4f4;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease;
    border-radius: 10px;
}

.big-div:hover {
    transform: translateY(-5px);
    background-color: rgb(165, 165, 164);
}

.icon {
    display: block;
    margin: 40px auto 10px;
    font-size: 24px;
}

.icon-text {
    font-size: 20px;
}

.calendar-container {
  position: fixed;
  right: 0px;
  bottom: 5px;
  width: 300px;
}

