.p_header{
  margin-left: 630px;
}



.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.file-upload-label {
  margin-top: 20px;
  cursor: pointer;
  background-color: #4CAF50; /* Green background */
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
}

.file-upload-input {
  display: none; /* Input element hidden */
}
.company-mail-label, .company-mail-input {
  display: block; /* Makes the label and input take full width of their container */
  width: 100%; /* Ensures full width to align properly */
  max-width: 500px; /* Optional: Restricts the maximum width to keep form elements aligned nicely */
  margin: 10px auto; /* Centers the label and input and adds vertical spacing */
}

.company-mail-input {
  padding: 8px;
  border: 2px solid #ccc; /* Adds a border for better visibility */
  border-radius: 4px; /* Rounds the corners */
  margin-top: 0; /* Removes any top margin to keep the label close */
}

.document-list {
  margin-top: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1); /* Subtle shadow for each document list */
  padding: 15px;
}

.document-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  padding-right: 100px; /* Increased right padding to accommodate delete button */
  border-bottom: 1px solid #ddd;
  position: relative;
}

.document-item:last-child {
  border-bottom: none; /* Remove border for the last item */
}

.document-link {
  font-size: 16px;
  text-decoration: none;
  color: #007bff;
  margin-right: 20px;
  max-width: 60%; /* Prevents text from taking full width */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; /* Adds ellipsis if text is too long */
}

.document-link:hover {
  text-decoration: underline;
}

.delete-button {
background-color: #ff6347;
color: white;
position:absolute; /* Position absolutely within the document-item */
right: 10px; /* Distance from the right edge of document-item */
top: 50%; /* Center vertically */
transform: translateY(-50%); /* Center vertically */
width: 80px; /* Fixed width */
height: 30px; /* Fixed height */
}

.delete-button:hover {
  background-color: #e53e30; /* Darker red on hover */
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #8B0000;
  padding: 10px 20px;
  color: white;
}

.logo {
  height: 50px;
}

.ims-header {
  font-size: 24px;
  font-weight: bold;
}

.logout-button {
  background-color: #8B0000;
  color: white;
  border: none;
  cursor: pointer;
  textDecoration: none;
  font-size: 16px;
}
